
<div style="text-align: center;">
    <div style="border: 1px solid #1780e8; margin: 20px;"/>
  <div style="display: inline-block;">
    <a href="https://www.ampspot.com" rel="referrer">
      <img
        alt="instagram"
        src="https://imgur.com/6YSLMQE.png"
        style="width: 20px; height: 20px;"
      />
    </a>
    <a href="https://www.ampspot.com" rel="referrer">
      <img
        alt="facebook"
        src="https://imgur.com/WFtAYxa.png"
        style="width: 20px; height: 20px;"
      />
    </a>
    <a href="https://www.ampspot.com" rel="referrer">
      <img
        alt="twitter"
        src="https://imgur.com/2MBKORF.png"
        style="width: 20px; height: 20px;"
      />
    </a>
    <a href="https://www.ampspot.com" rel="referrer">
      <img
        alt="youtube"
        src="https://imgur.com/paSU3Ew.png"
        style="width: 20px; height: 20px;"
      />
    </a>
  </div>
</div>
</div>