<div
  style="
          margin: 0px,
          background-color: rgb(241, 243, 245),
          padding: 48px 0px,
          display: block,
          justify-content: center,
          fontFamily: Lato, Arial, sans-serif,
          fontSize: 16px,
          lineHeight: 1.5,
          width: 100%,
        "
>
  <div style='display: block; width: 640px; max-width: 100%; margin: 0px auto'>
  <div style="text-align: center;">
    <a
      href="https://www.mixmatch.com"
      rel="referrer"
      style="display: inline-block; vertical-align: middle;"
    >
      <img
        alt="mixmatch"
        src="https://imgur.com/6KQFZjU.png"
        style="width: 60px; height: 60px;"
      />
    </a>
  </div>
