
{{> header}}    
<div style='background-color: rgb(255, 255, 255)'>
      <div
    style='
          background-color: #1780e8;
          padding: 48px 32px;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          color: rgb(255, 255, 255);
        '
  >
    <h1 style='font-size: 24px; margin: 0px'>Password Reset Successful</h1>
  </div>
        <div style="padding: 24px 32px 0px">
        <p style="margin-bottom: 16px">Your password change was successful.</p>
        <p style="margin-bottom: 16px">
          <strong
            >If you did not submit this request, please contact us immediately
            </strong>
        </p>
      </div>
</div>    
{{> footer}}
