
{{> header}}    
<div style='background-color: rgb(255, 255, 255)'>
      <div
    style='
          background-color: #1780e8;
          padding: 48px 32px;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
          color: rgb(255, 255, 255);
        '
  >
    <h1 style='font-size: 24px; margin: 0px'>Reset Your Password</h1>
  </div>
  <div style='padding: 24px 32px 0px'>
   <p style='margin-bottom: 16px'>Hi {{user.firstName}},</p>
        <p>
          We received a request to reset the password to your Ampspot account.
        </p>
        <p>Click the button below to reset your password:</p>
    <p style='margin-bottom: 16px; cursor: pointer'>
      <a href='{{reset_link}}' target='_blank' style="cursor: pointer;"><button
          style='
                background-color: #1780e8;
                border: 1px solid #1780e8;
                padding: 10px 18px;
                font-weight: 500;
                font-size: 16px;
                border-radius: 2px;
                box-shadow: rgb(179, 180, 180) 0px 1px 2px;
                cursor: pointer;
                color: rgb(255, 255, 255);
              '
        >
          Reset Password
        </button></a>
    </p>
    <p style='margin-bottom: 16px'>
      Alternatively, click the link below:<br />
      <a href='{{reset_link}}' target='_blank'>{{reset_link}}</a>
    </p>
        <p style='margin-bottom: 16px'></p>
        <p style='margin-bottom: 16px'>
          <strong>If you did not submit this request, please ignore this
            message. Should you feel your account may have been compromised,
            please contact us immediately</strong>
        </p>
        <p style='margin-bottom: 16px'>Regards,<br />Ampspot Team.</p>
  </div>
</div>    
{{> footer}}
